body{
  background-color: #eeffcc;
}

header h1{
  font-family: Broadway;
  font-size: 60px;
  color: #003300;
}

header{
  background: url(../images/footerBG.jpg);
}

header a,h1{
  text-transform: uppercase;
}

.navi li{
  display: inline;
}

.navi a{
  padding-top: 20px;
  text-decoration: none;
  color: #003300;
  font-family: broadway;
  font-size: 24px;
  padding-top: 40px;
}

.banner{
  background-color: #003300;
  padding: 30px;
  margin-bottom: 60px;
}

.banner h2{
  font-family: monospace;
  font-size: 26px;
  font-weight: bold;
  color: #eeffcc;
  text-transform: uppercase;
}

.banner p{
  font-family: monospace;
  font-size: 14px;
  color: #eeffcc;
}

.styl{
  font-size: 14px;
  font-family: Broadway;
}

.heading{
  font-family: Broadway;
  font-size: 40px;
  text-align: center;
  color: #003300;
}

.trekks_container{
  text-align: center;
}

.footer{
  height: 500px;
  background: url(../images/footerBG.jpg)
}

.footer .heading{
  font-size: 50px;
  font-family: Broadway;
  color: #003300;
}

.footer .act{
  font-size: 20px;
  font-weight: bold;
  color: #003300;
  text-decoration: none;
}

.icon{
  padding: 20px;
}

.address{
  padding-left: 40px;
}

.type{
  background-color: #003300;
  width: 220px;
  height: 220px;
  text-align: center;
  font-size: 16px;
  color: #eeffcc;
}

.types{
  padding: 40px;
}

.marque{
  background: url(../images/marque7.jpg) no-repeat;
  width: 1500px;
  height: 750px;
  margin: auto;
  padding-bottom: 30px;
}

.why{
  padding-bottom: 30px;
}

.txt{
  text-align: justify;
  font-size: 16px;
  font-family: Georgia;
}

.headwhy{
  font-family: Broadway;
  text-transform: uppercase;
}

.subheader{
  text-transform: uppercase;
  font-size: 20px;
}

.ser{
  height: 399px;
  padding-top: 30px;
}

.servicehead{
  padding-top: 100px;
  font-family: Broadway;
  font-size: 32px;
  text-transform: uppercase;
}

.process1{
  background: url(../images/process1.jpg);
  height: 668px;
  width: 430px;
  opacity: 0.6;
  filter: alpha(opacity=40);
  text-align: center;
}

.process2{
  background: url(../images/process2.jpg);
  height: 668px;
  width: 430px;
  opacity: 0.6;
  filter: alpha(opacity=40);
    text-align: center;
}

.process3{
  background: url(../images/process3.jpg);
  height: 668px;
  width: 430px;
  opacity: 0.6;
  filter: alpha(opacity=40);
    text-align: center;
}

.process4{
  background: url(../images/process4.jpg);
  height: 668px;
  width: 430px;
  opacity: 0.6;
  filter: alpha(opacity=40);
    text-align: center;
}

.process{
  margin: auto;
  padding-top: 40px;
}

.process td{
  padding: 40px 0px 40px 0px;
}

.process1:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.process2:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.process3:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.process4:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}

.top{
  text-decoration: none;
  font-family: Broadway;
  font-size: 40px;
  color: #003300;
  background-color: #eeffee;
}

.a{
  text-decoration: none;
  font-size: 20px;
  text-transform: uppercase;
  color:  #003300;
  font-family: broadway;
  background-color: #eeffcc;
  float:
}
